$cafe:#743c20;
$cafeClaro:#92624a;
$gris:#b5b5b5b5;
$grisClaro:#ffffffdc;

//asignar a la paleta de colores de bootstrap

$primary:$cafe;
$secondary:$cafeClaro;

//tipografia de bootstrap
$display-font-weight: 900;
$heading-font-weight: 700;

//personalizar card

$card-border-color: transparent;

//perzonalizar nav links
$nav-link-padding-x: 0;
$nav-link-color: $gris;
$nav-link-hover-color: $grisClaro;

@import '../../node_modules/bootstrap/scss/bootstrap.scss'